<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="money">￡</span>
    <span class="dollar-amount">{{format_amount price}}</span>
    to rent for a week
  </p>
  <form class="rent-form">
    <input type="hidden" id="name" name="name" value='{{name}}'>
    <input type="hidden" id="description" name="description" value='{{description}}'>
    <input type="hidden" id="price" name="price" value='{{price}}'>
  <p>
    <button class="btn btn-primary">Rent this Book!</button>
  </p>
  </form>
</div>

<script src="/js/send.js"></script>